@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*Pagination*/
.pagination-custom ul .page-item-custom{
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-right: 3px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid gray;
    transition: .2s all ease-in-out;
}
.pagination-custom ul .page-item-custom:hover,.pagination-custom ul .page-item-custom.active{
    background-color: #292929;
    color: white;
}
/*Response Message */
.response-message{
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: .3s all ease-in-out;
}
.response-message.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.error-message{
    margin-top: 3px;
    font-size: 13px;
    color: rgba(222, 28, 28, 0.99);
}
/**/
.artist-name,.artist-description,.category-list,.products-admin-list,
.product-category-item,.blogs-admin-list,.users-list,.user-carts,.bids-list,#history-bid-container{
    font-family: 'Poppins', sans-serif;
}
.artist-description{
    font-size: 13px;
}
table tbody tr:hover{
    cursor: pointer;
    background-color: rgba(173, 216, 230, 0.2);
}
/* admin-products */
.product-category-item{
    font-size: 11px;
    padding: 3px 10px;
    margin-right: 10px;
    border-radius: 3px;
    line-height: 1.6;
    transition: .3s all ease-in-out;
    border: 1px solid #c5c5c5;
}
.product-category-item:hover{
    color: white;
    cursor: pointer;
    background: darkblue;
    border: 1px solid darkblue;
}

.btn-product-filter{
    cursor: pointer;
    top: 3px;
    position: relative;
}
@media only screen and (max-width: 576px){
    .product-filter-form{
        z-index: 10;
        padding: 1rem;
        opacity: 0;
        background: white;
        visibility: hidden;
        position: absolute;
        transition: .3s all ease-in-out;
    }
    .product-filter-form.active{
        opacity: 1;
        visibility: visible;
    }
    .product-filter-status{
        top: -10px;
        width: 15px;
        right: -10px;
        height: 15px;
        color: white;
        font-size: 10px;
        text-align: center;
        border-radius: 50%;
    }
    .product-filter-status.addBG{
        background: red;
    }
}
/**/
.btn-submit,.btn-clear{
    color: white;
    outline: none;
    padding: 5px 15px;
    border-color: currentColor;
}
.btn-clear{
    background: #969696;
}
.btn-submit:hover{
    background: #0f77e5;
}
.btn-clear:hover{
    background: #777;
}
.btn-submit{
    background: #1c82e7;

}

/*Toggle on/off button*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5365d9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5365d9;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/**/
.account-admin-container{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 13px !important;
}
.account-admin-container:hover .account-admin-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.account-admin-menu{
    left: -10rem;
    border-radius: 3px;
    min-width: 11rem;
    background: white;
    top: calc(100% + 1rem);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: .3s all ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.account-admin-menu ul li{
    transition: .2s all ease-in-out;
}
.account-admin-menu ul li a{
    width: 100%;
    color: #292929;
    display: inline-block;
}
.account-admin-menu ul li:hover,.account-admin-menu ul li a:hover{
    background: rgba(137, 150, 227, 0.8);
    color: white;
}
/**/

/*dashboard user*/
.change-password-form label{
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    background: white;
    top: -13px;
    left: 1.5rem;
    padding: 0px 8px;
}
.change-password-form input{
    padding-top: 1rem;
    font-size: 13px;
}
.change-password-form input::placeholder{
    font-family: 'Poppins', sans-serif;
}
.change-password-form .success input{
    border: 1px solid forestgreen;
    background: rgba(188, 236, 188, 0.35);
}
.change-password-form .error input{
    border: 1px solid crimson;
    background: rgba(217, 49, 49, 0.23);
}
.change-password-form .error p{
    color: #e34d6c;
}
.change-password-form .success p{
    color: green;
}
.change-password-form p{
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.3;
}
.payment,.bidding{
    font-size: 9px;
    padding: 3px;
    font-weight: bold;
    border-radius: 2px;
}
.bidding{
    color: #0b2c4f;
    border: 1px solid #777;
}
.payment{
    color: #2d7fd3;
    border: 1px solid #2d7fd3;
}

.product-cart-user-name,
.product-bid-name{
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
/*Check out page*/
#check-out-image-product{
    height: 230px;
}
@media only screen and (max-width: 767px){
    #check-out-image-product{
        height: 320px;
    }
}
