@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*Pagination*/
.pagination-custom ul .page-item-custom{
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-right: 3px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid gray;
    transition: .2s all ease-in-out;
}
.pagination-custom ul .page-item-custom:hover,.pagination-custom ul .page-item-custom.active{
    background-color: #292929;
    color: white;
}
/*Response Message */
.response-message{
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: .3s all ease-in-out;
}
.response-message.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.error-message{
    margin-top: 3px;
    font-size: 13px;
    color: rgba(222, 28, 28, 0.99);
}
/**/
.artist-name,.artist-description,.category-list,.products-admin-list,.product-category-item,.blogs-admin-list{
    font-family: 'Poppins', sans-serif;
}
.artist-description{
    font-size: 13px;
}
table tbody tr:hover{
    cursor: pointer;
    background-color: rgba(173, 216, 230, 0.2);
}
/* admin-products */
.product-category-item{
    font-size: 11px;
    padding: 3px 10px;
    margin-right: 10px;
    border-radius: 3px;
    line-height: 1.6;
    transition: .3s all ease-in-out;
    border: 1px solid #c5c5c5;
}
.product-category-item:hover{
    color: white;
    cursor: pointer;
    background: darkblue;
    border: 1px solid darkblue;
}

.btn-product-filter{
    cursor: pointer;
    top: 3px;
    position: relative;
}
@media only screen and (max-width: 576px){
    .product-filter-form{
        z-index: 10;
        padding: 1rem;
        opacity: 0;
        background: white;
        visibility: hidden;
        position: absolute;
        transition: .3s all ease-in-out;
    }
    .product-filter-form.active{
        opacity: 1;
        visibility: visible;
    }
    .product-filter-status{
        top: -10px;
        width: 15px;
        right: -10px;
        height: 15px;
        color: white;
        font-size: 10px;
        text-align: center;
        border-radius: 50%;
    }
    .product-filter-status.addBG{
        background: red;
    }
}
/**/
.btn-submit,.btn-clear{
    color: white;
    outline: none;
    padding: 5px 15px;
    border-color: currentColor;
}
.btn-clear{
    background: #969696;
}
.btn-submit:hover{
    background: #0f77e5;
}
.btn-clear:hover{
    background: #777;
}
.btn-submit{
    background: #1c82e7;

}
