
/*----------------------------*/
/*#######  DEFAULT SETTING  #######*/
a:hover{
    text-decoration: none;
}

/*----------------------------*/
/*#######  HEADER NAV  #######*/
.header__top-link{
    font-size: 12px;
    color: #292929;
}
.header__logo-link{
    font-size: 30px;
}
.header__top-link:hover{
    text-decoration: underline;
    color: #0c5460;
}
.header__top li:hover .header__top-submenu {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 0.5rem);
}
.header__top-submenu {
    min-width: 8rem;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    left: -.2rem;
    transition: all 0.3s ease-out;
    top: calc(100% + 0.5rem);
    background-color: rgb(232, 232, 232);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.header__top-submenu ul li a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 13px;
}
.header__top-submenu::before {
    content: "";
    top: -1rem;
    left: 1.8rem;
    position: absolute;
    border-style: solid;
    border-width: 0.6rem 0.7rem;
    border-color: transparent transparent rgb(232, 232, 232) transparent;
}
.nav__main-link{
    font-size: 18px;
    font-weight: 700;
    color: #0b2c4f !important;
}
/*----------------------------*/
/*#######  FOOTER  #######*/
footer{
    background-color: #f8f8f8;
}
.footer__social-link{
    display: inline-block;
    margin-left: .7rem;
}
.footer__social-item:first-child  .footer__social-link{
    margin-left: 0;
}
.footer__social-link i{
    width: 33px;
    height: 33px;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid gray;
}
.footer__static-1 ul {
    margin-top: 1rem;
}
.footer__static-1 ul li{
    line-height: 2;
    transition: all .2s ease-in;
}
.footer__static-1 ul li:hover{
    transform: translateX(8px);
}
.footer-copyright{
    font-weight: 500;
}
footer .accordion .accordion-item a{
    padding: 6px 15px;
}
footer .accordion-header:active{
    background-color: #3988e9;
    color: white;
}
footer .accordion .accordion-item a:hover{
    background-color: rgb(177, 177, 177);
    color: white !important;
}
footer .accordion .accordion-item a i{
    font-size: 13px;
}
@media only screen and (min-width: 767px){
    .footer-copyright{
        text-align: start !important;
    }
}


/*----------------------------*/
/*#######  CONTACT  #######*/
.contact__main--underlined{
    border-bottom: 2px solid #c29a40;
    width: 5rem;
    margin-left: 6rem;
}
.contact--padd{
    padding-left: 0!important;
}
.contact__items--text{
    bottom: 16px;
    background-color: #00253e;
}
.letter__spacing{
    letter-spacing: 1px;
}
@media only screen and (max-width: 568px){
    .contact__main--title h3{
        padding-left: 0!important;
    }
    .contact__main--underlined{
        margin-left: 3rem;
    }
    .contact__items--img{
        padding-left: 1rem;
    }
    .contact__items--text{
        left: 16px;
    }
    .explore__items::after{
        left: 60px;
    }
}
/*----------------------------*/
/*####### END CONTACT  #######*/

/*----------------------------*/
/*#######  ABOUT US  #######*/
/* --------- header ---------  */
.about__banner--img{
    max-height: 20rem;
    width: 100%;
    max-width: 100%;
    image-rendering: pixelated;
    object-fit: cover;
}
.about__title{
    background-color: rgb(241,241,241);
}
.about__title--heading{
    padding: 1% 0%;
}
/*-------- End header ----------*/

/*-------- Explore ----------*/
.explore__items{
    position: relative;
    padding: 5px;
}
.explore__items::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 10px 35px 50px -10px rgba(255,188,188,0.5);
    /*box-shadow: 2px 58px 19px -10px rgb(255 188 188 / 50%);*/
    transition: all 0.35s cubic-bezier(0.49, -0.07, 0.32, 1.32);
    width: 140px;
    height: 140px;
    bottom: 40px;
}
.explore__items:hover{
    padding: 0!important;
}
.explore__items-text h6{
    font-size: 18px;
}
/*-------- end explore --------*/

/*-------- accordion ---------*/
.accordion .card .card-header{
    position: relative;
    display: block;
    background-color: #fff;
    border: none;
}
.accordion .card .card-header .fa-solid{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 30px;
}
/*-------- end accordion -------*/
@media only screen and (max-width: 768px){
    /*============= ABOUT ============*/
    .explore__items::after{
        left: 100px;
    }
}
/*----------------------------*/
/*####### END ABOUT US  #######*/

