@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #dedede;
    border-color: #dedede transparent #dedede transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    z-index: 10000;
    background: white;
    align-items: center;
    justify-content: center;
}
/*----------------------------*/
/*#######  DEFAULT SETTING  #######*/
a:hover{
    text-decoration: none;
}
.count-down-container{
    width: 80%;
    bottom: 5%;
    left: 50%;
    color: white;
    padding: 10px;
    display: grid;
    border-radius: 3px;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.6);
    border: 1px solid #343434;
    grid-template-columns: repeat(4,1fr);
}
.image{
    object-fit: cover;
}
.count-down-container > div{
    justify-self: center;
    text-align: center;
}
.upcoming-lot-item{
    border-radius: 4px;
}
.upcoming-lot-item:hover .btn-zoom-lot{
    display: block;
}
.upcoming-lot-item:hover img{
    transform: scale(1.1);
}
.upcoming-lot-thumbnail{
    overflow: hidden;
}
.upcoming-lot-thumbnail img{
    width: 100%;
    min-height: 20rem;
    transition: .3s all ease-in;
}

.btn-zoom-lot{
    top: -50%;
    left: -50%;
    color: white;
    display: none;
    cursor: pointer;
    padding:4px 8px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
}

/**/
.login-container{
    background-position: center center;
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    padding-top: 5rem;
    height: 100vh;
    justify-content: center;
    background-image: url('../images/5563515.jpg');
}
.login-container-content{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    max-height: 75vh;
    border-radius: 1rem;
    background: rgba(250, 250, 250, 0.97);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.login-loader{
    position: absolute;
    background: #FDC800;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transform-origin: center;
    transition: .3s all ease;
}
.login-loader.active{
    opacity: 1;
    visibility: visible;
}
#animationWindow {
    width: 100%;
    height: 100%;
}
.btn-login-google{
    color: #6c757d;
    border: 1px solid #c0c0c0;
    transition: .3s all ease-in-out;
}
.btn-login-google:hover{
    color: #292929;
    background: #e8e8e8;
}
.login-error-message{
    top: -20px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .2s all ease-in-out;
}
.login-error-message.active{
    opacity: 1;
    visibility: visible;
}
.login-slider-content{
    background: rgba(0,37,62,.8);
}
.login-slider-content a{
    color: white;
}
/*----------------------------*/
/*#######  HEADER NAV  #######*/
.header__top-link{
    font-size: 12px;
    text-decoration: none;
    color: #292929;
}
.header__logo-link{
    font-size: 30px !important;
}
.header__top-link:hover{
    text-decoration: underline;
    color: #0c5460;
}
.header__top li:hover .header__top-submenu {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 0.5rem);
}
.header__top-submenu {
    min-width: 8rem;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    left: -.2rem;
    transition: all 0.3s ease-out;
    top: calc(100% + 0.5rem);
    background-color: rgb(232, 232, 232);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.header__top-submenu ul li a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 13px;
}
.header__top-submenu::before {
    content: "";
    top: -1rem;
    left: 1.8rem;
    position: absolute;
    border-style: solid;
    border-width: 0.6rem 0.7rem;
    border-color: transparent transparent rgb(232, 232, 232) transparent;
}
.btn-login-public{
    z-index: 30;
    right: -6px;
    min-width: 12rem;
    border-radius: 4px;
    top: calc(100% + .6rem);
    border: 1px solid black;
    opacity: 0;
    visibility: hidden;
    transform-origin:center top;
    transition: .3s all ease-in-out;
    background: rgba(0,0,0,0.8);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn-login-public a{
    padding:6px 10px;
    color: white;
}
.btn-login-public.active{
    opacity: 1;
    visibility: visible;
}
/**/
.button-54 .email-user{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 7rem;
}
.button-54 {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}
/**/
.nav__main-link{
    font-size: 18px;
    font-weight: 700;
    color: #0b2c4f !important;
}
#home_search::placeholder{
    font-style: italic !important;
}
.search-icon{
    top: 20%;
    right: 10px;
}
#main-search-container{
    z-index: 20;
    overflow-y: auto;
    background: white;
    max-height: 14rem;
    padding: 5px;
    border-radius: 2px;
    display: flex;
    gap: 5px;
    top: calc(100% + 6px);
    flex-direction: column;
    width: calc(100% + 6.5rem);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.search-item:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.1);
}
.search-item{
    padding: 8px;
    gap: 10px;
}
.search-item .name{
    color: #0c5460;
    line-height: 1.3;
}
.search-item .artist,.search-item .status,.search-item .bid{
    font-size: 12px;
    color: #292929;
}

@media only screen and (max-width: 992px) {
    .main-nav-ui:before{
       position: absolute;
       content: '';
       width: 100%;
        height: 2px;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
    .main-nav-ui .nav__main-link:hover{
        background: rgba(0,0,0,0.05);
    }
}
@media only screen and (max-width: 1100px) {
    .search-container{
        display: none;
    }
    .nav__main-link{
        font-size: 15px;
    }
}
/*----------------------------*/
/*#######  HOMEPAGE  #######*/

.home-banner img{
    max-height: 700px;
}
.home-banner__content{
    left: 1rem;
    bottom: 10%;
    border-radius: 4px;
    padding: 1.5rem 2rem;
    background: rgba(12, 84, 96, 0.75);
}
.home-banner__content p{
    color: #fff;
    line-height: 1.4;
    font-size: 2.3rem;
}
.home-banner-btn{
    color: goldenrod;
    font-weight: 600;
}
.home-banner-btn:hover{
    color: #1c82e7;
    text-decoration: underline;
}

/**/
.category-slider-item{
    padding: 1rem;
    border-radius: 2px;
    transition: .3s all ease-in;
}
.category-slider-item:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}
.category-slider-item img{
    height: 200px;
    border-radius: 2px;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.browse-the-category a{
    color: darkblue;
}
.category-slider-item:hover a{
    transition: .3s all ease-in;
    color: #3d57e3;
}
.browse-the-category .slick-prev::before, .browse-the-category .slick-next::before {
    color: black;
}

.category-slider-item p {
    font-size: 1.2rem;
}

.main-section-heading:after{
    position: absolute;
    bottom: -8px;
    left: 0;
    content: "";
    width: 6rem;
    height: 2px;
    background: goldenrod;
}
/*trending lots*/
.home-trending-lots{
    gap: 1rem;
    display: grid;
    height: 700px;
    grid-template-columns: repeat(2,1fr);
}
.large-trending-lots{
    display: flex;
    flex-direction: column;
}
#home-trending-auctions-btn{
    display: none;
}
.small-trending-lots{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
}
.small-trending-lots-item{
    display: flex;
    height: 350px;
    flex-direction: column;
}
.count-down-container--1{
    bottom: 22%;
    transition: .3s all ease;
}
.count-down-container--2{
    bottom: 34%;
    transition: .3s all ease;
}
.small-trending-lots-item .image,.large-trending-lots .image{
    flex-basis: 88%;
}
.small-trending-lots-item .upcoming-lot-content,.large-trending-lots .upcoming-lot-content{
    flex-basis: 12%;
}
.large-trending-lots .image,
.small-trending-lots-item .image{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    position: relative;
}
.large-trending-lots .image:after,
.small-trending-lots-item .image:after{
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    content: '';
    height: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: rgba(0,0,0,0.3);
    transition: .3s all ease-in-out;
}
.large-trending-lots:hover .image:after,
.small-trending-lots-item:hover .image:after{
    opacity: 1;
    visibility: visible;
}
.large-trending-lots:hover .count-down-container--1,
.small-trending-lots-item:hover .count-down-container--2{
    opacity: 0;
    visibility: hidden;
}
.large-trending-lots:hover .btn-view-more,
.small-trending-lots-item:hover .btn-view-more{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%);
}

.btn-view-more{
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    position: absolute;
    transition: .3s ease-in-out;
    transform: translate(-50%,120%);
}
.upcoming-lot-content{
    color: white;
    padding: 1rem;
    background: #292929;
}
.upcoming-lot-content h4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}


@media  only screen and (max-width: 1300px) {
    .home-trending-lots{
        height: 700px;
    }
    .small-trending-lots-item{
        height: 350px;
    }
    .small-trending-lots-item .image,.large-trending-lots .image{
        flex-basis: 80%;
    }
    .small-trending-lots-item .upcoming-lot-content,.large-trending-lots .upcoming-lot-content{
        flex-basis: 20%;
    }
    .count-down-container--1{
        bottom: 22%;
    }
    .count-down-container--2{
        bottom: 40%;
    }
}
@media only screen and (max-width: 900px){
    .home-trending-lots{
        display: block;
        height: auto;
    }
    .large-trending-lots{
        height: 500px;
        margin-bottom: 1rem;
    }
    .small-trending-lots-item{
        height: 400px;
    }
    .count-down-container--1{
        bottom: 24%;
    }
    .count-down-container--2{
        bottom: 30%;
    }
}

@media  only screen and (max-width:650px) {
    .small-trending-lots{
        grid-template-columns: repeat(1,1fr);
    }
    #home-trending-auctions-btn{
        display: block;
    }
    .trending-lot-load-more{
        display: none;
    }
    .trending-lot-load-more.active{
        display: flex;
    }
}
/**/
@media only screen and (max-width: 767px) {
    .load-more-upcoming-lots{
        display: none;
    }
    .load-more-upcoming-lots.active{
        display: block;
    }
}
/**/
.more__from-us{
    background-color: #222;
}
.more__from-us a{
    color: #292929;
}
.more__from-us-item img{
    height: 16rem;
}
.more__from-us-item:hover .more__from-us-item-content{
    background-color: #f1f0f0;
}
.more__from-us-item-content{
    background-color: white;
    cursor: pointer;
}
.more__from-us--2 img{
    height: 18rem;
    transition:all .3s ease-in;
}

@media only screen and (max-width:900px){
    .home-banner__content p{
        font-size:1.7rem;
    }
}
@media only screen and (max-width:600px){
    .home-banner__content p{
        font-size:1.3rem;
        margin-bottom: 10px;
    }
    .home-banner__content{
        padding: 1.2rem;
    }
}
/* modal email  */
.subscribe-email-form .email-title-1{
    flex-basis: 55%;
}
.subscribe-email-form .email-title-2{
    flex-basis: 40%;
}
.subscribe-email-form .email-title-2 select{
    width: 100%;
    height: 38px;
    color: #777;
    border-radius: 3px;
    border-color: #ced4da !important;
}
/* ----------------- */
/* START  BUY NOW */
.buy__now a{
    color: #292929;
}
.buy__now .row-bg {
    background-color: #f8f8f8;
}
.buy__now .row-bg img {
    max-height: 270px;
}
.buy__now:hover .row-bg {
    background-color: #e8e8e8;
}
.buy__now:hover .buy__now-btn {
    border-color: black;
    transition: 3s ease-in;
}
.buy__now-text {
    letter-spacing: 2px;
    font-style: italic;
}
.buy__now-btn {
    font-size: 15px;
    padding: 6px 20px;
    border-radius: 2px;
    border: 1px solid #a3a3a3;
}
.play-btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.play-btn i {
    color: rgb(16, 20, 54);
}
/* guide to sell/buy */
.gutter-row .gutter-col {
    z-index: 1;
    height: 100px;
    flex-basis: 49%;
    border-radius: 3px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.gutter-row .gutter-col a {
    color: var(--white) !important;
    position: relative;
    z-index: 4;
}

.gutter-row .gutter-col:hover {
    filter: grayscale(0.3);
    cursor: pointer;
}
.gutter-row .gutter-col i {
    font-size: 10px;
    padding: 7px 9px;
    margin-left: 0.4rem;
    border-radius: 50%;
    background-color: rgba(197, 197, 197, 0.056);
    border: 1px solid rgba(221, 221, 221, 0.234);
}
.gutter-row .gutter-col:first-child {
    background: url("../images/howtobuy.jpg") 50% 50%/100% no-repeat;
}
.gutter-row .gutter-col:last-child::after,
.gutter-row .gutter-col:first-child::after {
    content: "";
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.2);
}
.gutter-row .gutter-col:last-child {
    background: url("../images/howtosel.jpg") 10% 10%/100% no-repeat;
}
@media only screen and (max-width:900px){
    .gutter-row .gutter-col{
        flex-basis: 100%;
    }
    .gutter-row .gutter-col:last-child{
        margin-top: 10px;
    }
}

/**/
.main-blog-container{
    gap: 1rem;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.main-blog-container a{
    color: #545454;
    transition: .2s all ease-in-out;
}
.main-blog-container h5{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.main-blog-container a:hover{
    color: #3d57e3;
}
.left-side{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right-side{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.left-main-blog .image{
    flex-basis: 75%;
}
.left-main-blog .blog-content{
    flex-basis: 25%;
    padding: 5px;
}
.left-main-blog .blog-content .add-shadow{
    padding-bottom: 3px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.middle-main-blog{
    height: 75%;
    display: flex;
    flex-direction: column;
}
.middle-main-blog .image,.right-main-blog-1 .image{
    flex-basis: 80%;
}
.middle-main-blog .content,.right-main-blog-1 .content{
    flex-basis: 20%;
    padding:5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.right-main-blog{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-main-blog-1{
    display: flex;
    flex-direction: column;
    height: calc(300px - .6rem);
}
@media only screen and (max-width: 1100px) {
    .right-side{
        height: 600px;
        gap: 10px;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .middle-main-blog{
        height: 300px;
    }
    .right-main-blog{
        gap: 15px;
        flex-direction: row;
    }
    .right-main-blog-1{
        height: 300px;
        flex-basis: 50%;
    }
    .left-main-blog .image{
        flex-basis: 70%;
    }
    .left-main-blog .blog-content{
        flex-basis: 25%;
    }
}
@media only screen and (max-width: 900px){
    .main-blog-container{
        display: block;
        height: auto;
    }
    .left-main-blog{
        margin-bottom: 10px;
    }
    .right-side{
        height: auto;
    }
    .middle-main-blog{
        height: 350px;
    }
}
@media only screen and (max-width: 600px){
    .right-main-blog{
        flex-direction: column;
    }
    .right-side{
        grid-template-rows: unset;
    }
}
/*----------------------------*/
/*#######  FOOTER  #######*/
footer{
    background-color: #f8f8f8;
}
footer a{
    color: #292929;
    text-decoration: none;
}
.footer__social-link{
    display: inline-block;
    margin-left: .7rem;
}
.footer__social-item:first-child  .footer__social-link{
    margin-left: 0;
}
.footer__social-link i{
    width: 33px;
    height: 33px;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid gray;
}
.footer__static-1 ul {
    margin-top: 1rem;
}
.footer__static-1 ul li{
    line-height: 2;
    transition: all .2s ease-in;
}
.footer__static-1 ul li:hover{
    transform: translateX(8px);
}
.footer-copyright{
    font-weight: 500;
}
footer .accordion .accordion-item a{
    padding: 6px 15px;
    color: #292929;
}
footer .accordion-header:active{
    background-color: #3988e9;
    color: white;
}
footer .accordion .accordion-item a:hover{
    background-color: rgb(177, 177, 177);
    color: white !important;
}
footer .accordion .accordion-item a i{
    font-size: 13px;
}
@media only screen and (min-width: 767px){
    .footer-copyright{
        text-align: start !important;
    }
}

/*----------------------------*/
/*#######  PRODUCTS PAGE  #######*/
.products_banner{
    height: 580px;
}
@media  only screen and (max-width: 900px) {
    .products_banner{
        height: auto;
        max-height: 550px;
    }
}
.auction-lot-item{
    overflow: hidden;
    border-radius: 3px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /*font-family: 'Poppins', sans-serif;*/
}
.auction-lot-item a{
    color: black;
    transition: .3s all ease-in;
}
.auction-lot-item a:hover{
    color: #3d57e3;
}
.lot-thumbnail:after{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
}
.count-down-container--lot{
    transition: .3s all ease-in;
}
.auction-lot-item:hover{
    background: rgba(164, 178, 248, 0.14);
}
.auction-lot-item:hover .lot-thumbnail:after{
    display: block;
}
.auction-lot-item:hover .count-down-container--lot{
 transform: translate(-50%,80px);
}
.auction-lot-item:hover .auction-lot-item-btn{
    transform: translate(-50%, 50px);
    opacity: 1;
    visibility: visible;
 }
.auction-lot-item-btn{
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 3;
    visibility: hidden;
    transition: .3s all ease-in;
    transform: translate(-50%, 100px);
}
.auction-lot-item-btn button{
    color: white;
    padding: 5px 12px;
    transition: .2s all ease-in;
    background-color: #1c82e7;
}
.auction-lot-item-btn button:hover{
    background-color: #3390e8;
}
.lot-id-container p{
    font-size: 11px;
}
.auction-lot-filter-btn{
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 4px;
}
.lot-content-name{
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1; /* number of lines to show */
line-clamp: 2;
-webkit-box-orient: vertical;
}
/**/
.lot-filter-container .price{
 border: 0;
}
.lot-filter-container .ui-slider-horizontal{
    height: .5rem;
}
.lot-filter-container .ui-slider .ui-slider-handle{
    height: 0.8rem;
    width: 0.8rem;
    cursor: pointer !important;
    border-radius: 50%;
}
.lot-filter-container .ui-widget-header{
    background: rgba(217, 173, 65, 0.78);
    cursor: pointer;
}
/**/
.lot-filter-container{
    display: none;
}
.form-category,.form-artist{
    max-height: 12rem;
    overflow-y: auto;
}
@media only screen and (max-width: 1140px) {
    .lot-filter-container{
        top: 0;
        left: 0;
        opacity: 0;
        width: 250px;
        height: 100%;
        z-index: 100;
        display: block;
        padding-top: 15px;
        position: absolute;
        background-color: white;
        transform: translateX(-300px);
        transition: .3s all ease-in-out;
    }
    .lot-filter-container.active{
        opacity: 1;
        transform: translateX(0);
    }
}
/*----------------------------*/
/*#######  ERROR PAGE  #######*/
.error__page{
    width: 100vw;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background: rgba(0, 0, 0, 0.9) url("../images/error_page-bg.jpg")  no-repeat center center;
}
.error__page .content{
    text-align: center;
    color: var(--white);
    letter-spacing: 2px;
}
.error__page h2{
    font-size: 9rem;
    font-weight: 500;
}
.error__page h3{
    font-size: 24px;
}
.error__page p{
    margin-top: 1rem;
}
.error__page .content a{
    padding: 8px;
    margin-top: 1rem;
    min-width: 12rem;
    border-radius: 4px;
    display: inline-block;
    background-color: #f8f8f8;
}

/*----------------------------*/
/*#######  CONTACT  #######*/
.contact__main--underlined{
    border-bottom: 2px solid #c29a40;
    width: 5rem;
    margin-left: 6rem;
}
.contact--padd{
    padding-left: 0!important;
}
.contact__items--text{
    bottom: 16px;
    background-color: #00253e;
}
.letter__spacing{
    letter-spacing: 1px;
}
@media only screen and (max-width: 568px){
    .contact__main--title h3{
        padding-left: 0!important;
    }
    .contact__main--underlined{
        margin-left: 3rem;
    }
    .contact__items--img{
        padding-left: 1rem;
    }
    .contact__items--text{
        left: 16px;
    }
    .explore__items::after{
        left: 60px;
    }
    .about__title--ml{
        margin-left: 0!important;
    }
}
/*----------------------------*/
/*####### END CONTACT  #######*/

/*----------------------------*/
/*#######  ABOUT US  #######*/
/* --------- header ---------  */
.about__banner--img{
    max-height: 20rem;
    width: 100%;
    max-width: 100%;
    image-rendering: pixelated;
    object-fit: cover;
}
.about__title{
    background-color: rgb(241,241,241);
}
.about__title--heading{
    padding: 1% 0%;
}
/*-------- End header ----------*/

/*-------- Explore ----------*/
.explore__items{
    position: relative;
    padding: 5px;
}
.explore__items-text h6{
    text-shadow: 4px 4px 3px #d5d5d5, 7px 7px 3px rgb(0 0 0 / 20%);
}
.explore__items:hover{
    padding: 0!important;
}
/*.explore__items--image img{*/
/*    height: 120px;*/
/*}*/
/*-------- end explore --------*/

/*-------- accordion ---------*/
.accordion .card .card-header{
    position: relative;
    display: block;
    background-color: #fff;
    border: none;
}
.accordion .card .card-header .fa-solid{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 30px;
}
/*-------- end accordion -------*/
@media only screen and (max-width: 768px){
    /*============= ABOUT ============*/
    .explore__items::after{
        left: 100px;
    }
    .about__title--heading{
        margin-left: 0!important;
    }
}
/*----------------------------*/
/*####### END ABOUT US  #######*/

/*============= Blog ===========*/
.post__list li:not(:first-child):before{
    content: "-";
    position: relative;
    right: 8px;
    color: #666;
}
.post__content--text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
}
.blog__content-title{
    line-height: 1.5;
    color: #292929;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.pagination-custom ul li{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    transition: .2s all ease;
    border: 1px solid black;
}
.pagination-custom ul li.active,.pagination-custom ul li:hover{
    cursor: pointer;
    background: black;
    color: white;
}
.post__list{
    font-style: italic;
    font-size: 12px;
}
.blog__link--detail a{
    color: #656565;
}
.blog__link--detail{
    transition: .3s all ease-in-out;
}
.blog__link--detail:hover{
    margin-left: 15px;
    font-size: 18px;
}
.blog__link--detail:hover a{
    color: #2c2c2c;
}
.blog__icon--fz{
    font-size: 10px;
}
.detail__content--textBorder{
    font-size: 20px;
    border-left: 4px solid #2d3786;
}
@media only screen and (min-width: 978px) {
    .select-div{
        width: 20%;
    }
}
.blog-heading:after{
    top: 10px;
    left: 0;
    content: '';
    width: 100%;
    height: 1.5px;
    z-index: 2;
    background: rgba(246, 213, 143, 0.62);
    position: absolute;

}
/*=========== End Blog =========*/

/*PRODUCT DETAIL*/
.product-thumbnail{
    height: 35rem;
}
.product-category span:hover{
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.55);
}
.product-info{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.product-description{
    max-height: 12rem;
    color: #6e6e6e;
}
.product-start-price{
    color: white;
    transition: .3s all ease;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
.product-start-price:hover{
    cursor: pointer;
}
.btn-view-more-description{
    position: relative;
    top: -3px;
    font-size: 12px;
}
.btn-view-more-description:hover{
    text-decoration: underline;
    cursor: pointer;
}
.product-description.active{
    max-height:fit-content;
}
.product-status{
    top: -4rem;
    font-size: 13px;
    right: -.5rem;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background: #FC4F4F;
}
.count-down-container--3{
    left: 0;
    width: 100%;
    padding: 5px;
    transform: translateX(0);
}
.form-bid-product input{
    max-width: 10rem;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    transition: .3s all ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-bid-product button{
    height: 100%;
    padding: 5px 8px;
    border-radius: 3px;
    background: #3535a9;
    text-align: center;
    color: white;
    border: 0;
    display: inline-block;
    transition: all 0.5s;
}
.form-bid-product button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.form-bid-product button:hover{
    background: #c53333;
}
.form-bid-product button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.form-bid-product button:hover span {
    padding-right: 20px;
}

.form-bid-product button:hover span:after {
    opacity: 1;
    right: 0;
}

/**/
.form-bid-product input:focus{
    background: rgba(197, 204, 252, 0.26);
}
.btn-open-product-info{
    position: fixed;
    top: 11.2rem;
    right: 1rem;
    z-index: 12;
    cursor: pointer;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    transition: .3s all ease-in;
    background: rgba(11, 44, 79, 0.81);
}
.btn-open-product-info:hover{
    background: #0c5460;
}
.product-bid-message{
    position: fixed;
    top: 7rem;
    right: 1rem;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transform: translateX(120%);
    transition: .6s all ease-out;
}
.product-bid-message.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
@media only screen and (max-width: 767px){
    .product-info-small{
        top: 0;
        left: 0;
        overflow-y: auto;
        z-index: 20;
        width: 100%;
        height: 100%;
        position: fixed;
        background: white;
        padding-top: 3rem;
        transition: .3s all ease-in-out;
        transform: translateX(-100%);
    }
    .product-info-small.active{
        transform: translateX(0);
    }
    .product-bid-message{
        top: .8rem;
    }
}
