
/*----------------------------*/
/*#######  DEFAULT SETTING  #######*/
a:hover{
    text-decoration: none;
}
.count-down-container{
    width: 80%;
    bottom: 5%;
    left: 50%;
    color: white;
    padding: 10px;
    display: grid;
    border-radius: 3px;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.6);
    border: 1px solid #343434;
    grid-template-columns: repeat(4,1fr);
}

.count-down-container > div{
    justify-self: center;
    text-align: center;
}
.upcoming-lot-item{
    border-radius: 4px;
}
.upcoming-lot-item:hover .btn-zoom-lot{
    display: block;
}
.upcoming-lot-item:hover img{
    transform: scale(1.1);
}
.upcoming-lot-thumbnail{
    overflow: hidden;
}
.upcoming-lot-thumbnail img{
    width: 100%;
    min-height: 20rem;
    transition: .3s all ease-in;
}
.btn-zoom-lot{
    top: -50%;
    left: -50%;
    color: white;
    display: none;
    cursor: pointer;
    padding:4px 8px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
}
.upcoming-lot-content{
    color: white;
    padding: 1rem;
    background: #292929;
}
/*----------------------------*/
/*#######  HEADER NAV  #######*/
.header__top-link{
    font-size: 12px;
    text-decoration: none;
    color: #292929;
}
.header__logo-link{
    font-size: 30px !important;
}
.header__top-link:hover{
    text-decoration: underline;
    color: #0c5460;
}
.header__top li:hover .header__top-submenu {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 0.5rem);
}
.header__top-submenu {
    min-width: 8rem;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    left: -.2rem;
    transition: all 0.3s ease-out;
    top: calc(100% + 0.5rem);
    background-color: rgb(232, 232, 232);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.header__top-submenu ul li a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 13px;
}
.header__top-submenu::before {
    content: "";
    top: -1rem;
    left: 1.8rem;
    position: absolute;
    border-style: solid;
    border-width: 0.6rem 0.7rem;
    border-color: transparent transparent rgb(232, 232, 232) transparent;
}
.nav__main-link{
    font-size: 18px;
    font-weight: 700;
    color: #0b2c4f !important;
}
#home_search::placeholder{
    font-style: italic !important;
}
.search-icon{
    top: 20%;
    right: 10px;
}
@media only screen and (max-width: 992px) {
    .main-nav-ui:before{
       position: absolute;
       content: '';
       width: 100%;
        height: 2px;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
    .main-nav-ui .nav__main-link:hover{
        background: rgba(0,0,0,0.05);
    }
}
@media only screen and (max-width: 1100px) {
    .search-container{
        display: none;
    }
    .nav__main-link{
        font-size: 15px;
    }
}
/*----------------------------*/
/*#######  HOMEPAGE  #######*/

.home-banner img{
    max-height: 700px;
}
.home-banner__content{
    left: 1rem;
    bottom: 10%;
    border-radius: 4px;
    padding: 1.5rem 2rem;
    background: rgba(12, 84, 96, 0.75);
}
.home-banner__content p{
    color: #fff;
    line-height: 1.4;
    font-size: 2.3rem;
}
.home-banner-btn{
    color: goldenrod;
    font-weight: 600;
}
.home-banner-btn:hover{
    color: #1c82e7;
    text-decoration: underline;
}

/**/
.category-slider-item{
    padding: 1rem;
    border-radius: 2px;
    transition: .3s all ease-in;
}
.category-slider-item:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}
.category-slider-item img{
    height: 200px;
    border-radius: 2px;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.browse-the-category a{
    color: darkblue;
}
.category-slider-item:hover a{
    transition: .3s all ease-in;
    color: #3d57e3;
}
.browse-the-category .slick-prev::before, .browse-the-category .slick-next::before {
    color: black;
}

.category-slider-item p {
    font-size: 1.2rem;
}

.main-section-heading:after{
    position: absolute;
    bottom: -8px;
    left: 0;
    content: "";
    width: 6rem;
    height: 2px;
    background: goldenrod;
}
/**/

/**/
.more__from-us{
    background-color: #222;
}
.more__from-us a{
    color: #292929;
}
.more__from-us-item img{
    height: 16rem;
}
.more__from-us-item:hover .more__from-us-item-content{
    background-color: #f1f0f0;
}
.more__from-us-item-content{
    background-color: white;
    cursor: pointer;
}
.more__from-us--2 img{
    height: 18rem;
    transition:all .3s ease-in;
}

@media only screen and (max-width:900px){
    .home-banner__content p{
        font-size:1.7rem;
    }
}
@media only screen and (max-width:600px){
    .home-banner__content p{
        font-size:1.3rem;
        margin-bottom: 10px;
    }
    .home-banner__content{
        padding: 1.2rem;
    }
}
/* modal email  */
.subscribe-email-form .email-title-1{
    flex-basis: 55%;
}
.subscribe-email-form .email-title-2{
    flex-basis: 40%;
}
.subscribe-email-form .email-title-2 select{
    width: 100%;
    height: 38px;
    color: #777;
    border-radius: 3px;
    border-color: #ced4da !important;
}
/* ----------------- */
/* START  BUY NOW */
.buy__now a{
    color: #292929;
}
.buy__now .row-bg {
    background-color: #f8f8f8;
}
.buy__now .row-bg img {
    max-height: 270px;
}
.buy__now:hover .row-bg {
    background-color: #e8e8e8;
}
.buy__now:hover .buy__now-btn {
    border-color: black;
    transition: 3s ease-in;
}
.buy__now-text {
    letter-spacing: 2px;
    font-style: italic;
}
.buy__now-btn {
    font-size: 15px;
    padding: 6px 20px;
    border-radius: 2px;
    border: 1px solid #a3a3a3;
}
.play-btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.play-btn i {
    color: rgb(16, 20, 54);
}
/* guide to sell/buy */
.gutter-row .gutter-col {
    z-index: 1;
    height: 100px;
    flex-basis: 49%;
    border-radius: 3px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.gutter-row .gutter-col a {
    color: var(--white) !important;
    position: relative;
    z-index: 4;
}

.gutter-row .gutter-col:hover {
    filter: grayscale(0.3);
    cursor: pointer;
}
.gutter-row .gutter-col i {
    font-size: 10px;
    padding: 7px 9px;
    margin-left: 0.4rem;
    border-radius: 50%;
    background-color: rgba(197, 197, 197, 0.056);
    border: 1px solid rgba(221, 221, 221, 0.234);
}
.gutter-row .gutter-col:first-child {
    background: url("../images/howtobuy.jpg") 50% 50%/100% no-repeat;
}
.gutter-row .gutter-col:last-child::after,
.gutter-row .gutter-col:first-child::after {
    content: "";
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.2);
}
.gutter-row .gutter-col:last-child {
    background: url("../images/howtosel.jpg") 10% 10%/100% no-repeat;
}
@media only screen and (max-width:900px){
    .gutter-row .gutter-col{
        flex-basis: 100%;
    }
    .gutter-row .gutter-col:last-child{
        margin-top: 10px;
    }
}

/*----------------------------*/
/*#######  FOOTER  #######*/
footer{
    background-color: #f8f8f8;
}
footer a{
    color: #292929;
    text-decoration: none;
}
.footer__social-link{
    display: inline-block;
    margin-left: .7rem;
}
.footer__social-item:first-child  .footer__social-link{
    margin-left: 0;
}
.footer__social-link i{
    width: 33px;
    height: 33px;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid gray;
}
.footer__static-1 ul {
    margin-top: 1rem;
}
.footer__static-1 ul li{
    line-height: 2;
    transition: all .2s ease-in;
}
.footer__static-1 ul li:hover{
    transform: translateX(8px);
}
.footer-copyright{
    font-weight: 500;
}
footer .accordion .accordion-item a{
    padding: 6px 15px;
    color: #292929;
}
footer .accordion-header:active{
    background-color: #3988e9;
    color: white;
}
footer .accordion .accordion-item a:hover{
    background-color: rgb(177, 177, 177);
    color: white !important;
}
footer .accordion .accordion-item a i{
    font-size: 13px;
}
@media only screen and (min-width: 767px){
    .footer-copyright{
        text-align: start !important;
    }
}

/*----------------------------*/
/*#######  PRODUCTS PAGE  #######*/
.auction-lot-item{
    overflow: hidden;
}
.auction-lot-item a{
    color: black;
    transition: .3s all ease-in;
}
.auction-lot-item a:hover{
    color: #3d57e3;
}
.lot-thumbnail:after{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
}
.count-down-container--lot{
    transition: .3s all ease-in;
}
.auction-lot-item:hover .lot-thumbnail:after{
    display: block;
}
.auction-lot-item:hover .count-down-container--lot{
 transform: translate(-50%,80px);
}
.auction-lot-item:hover .auction-lot-item-btn{
    transform: translate(-50%, 50px);
    opacity: 1;
    visibility: visible;
 }
.auction-lot-item-btn{
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 3;
    visibility: hidden;
    transition: .3s all ease-in;
    transform: translate(-50%, 100px);
}
.auction-lot-item-btn button{
    color: white;
    padding: 5px 12px;
    transition: .2s all ease-in;
    background-color: #1c82e7;
}
.auction-lot-item-btn button:hover{
    background-color: #3390e8;
}
.lot-id-container p{
    font-size: 11px;
}
.auction-lot-filter-btn{
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 4px;
}

/**/
.lot-filter-container{
    display: none;
}
.form-category,.form-artist{
    max-height: 12rem;
    overflow-y: auto;
}
@media only screen and (max-width: 1140px) {
    .lot-filter-container{
        top: 0;
        left: 0;
        opacity: 0;
        width: 250px;
        height: 100%;
        z-index: 100;
        display: block;
        padding-top: 15px;
        position: absolute;
        background-color: white;
        transform: translateX(-300px);
        transition: .3s all ease-in-out;
    }
    .lot-filter-container.active{
        opacity: 1;
        transform: translateX(0);
    }
}
/*----------------------------*/
/*#######  ERROR PAGE  #######*/
.error__page{
    width: 100vw;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background: rgba(0, 0, 0, 0.9) url("../images/error_page-bg.jpg")  no-repeat center center;
}
.error__page .content{
    text-align: center;
    color: var(--white);
    letter-spacing: 2px;
}
.error__page h2{
    font-size: 9rem;
    font-weight: 500;
}
.error__page h3{
    font-size: 24px;
}
.error__page p{
    margin-top: 1rem;
}
.error__page .content a{
    padding: 8px;
    margin-top: 1rem;
    min-width: 12rem;
    border-radius: 4px;
    display: inline-block;
    background-color: #f8f8f8;
}

/*----------------------------*/
/*#######  CONTACT  #######*/
.contact__main--underlined{
    border-bottom: 2px solid #c29a40;
    width: 5rem;
    margin-left: 6rem;
}
.contact--padd{
    padding-left: 0!important;
}
.contact__items--text{
    bottom: 16px;
    background-color: #00253e;
}
.letter__spacing{
    letter-spacing: 1px;
}
@media only screen and (max-width: 568px){
    .contact__main--title h3{
        padding-left: 0!important;
    }
    .contact__main--underlined{
        margin-left: 3rem;
    }
    .contact__items--img{
        padding-left: 1rem;
    }
    .contact__items--text{
        left: 16px;
    }
    .explore__items::after{
        left: 60px;
    }
}
/*----------------------------*/
/*####### END CONTACT  #######*/

/*----------------------------*/
/*#######  ABOUT US  #######*/
/* --------- header ---------  */
.about__banner--img{
    max-height: 20rem;
    width: 100%;
    max-width: 100%;
    image-rendering: pixelated;
    object-fit: cover;
}
.about__title{
    background-color: rgb(241,241,241);
}
.about__title--heading{
    padding: 1% 0%;
}
/*-------- End header ----------*/

/*-------- Explore ----------*/
.explore__items{
    position: relative;
    padding: 5px;
}
.explore__items-text h6{
/*    content: "";*/
/*    position: absolute;*/
/*    border-radius: 50%;*/
/*    z-index: -1;*/
/*    box-shadow: 10px 35px 50px -10px rgba(255,188,188,0.5);*/
/*    !*box-shadow: 2px 58px 19px -10px rgb(255 188 188 / 50%);*!*/
/*    transition: all 0.35s cubic-bezier(0.49, -0.07, 0.32, 1.32);*/
/*    width: 140px;*/
/*    height: 140px;*/
/*    bottom: 40px;*/
    text-shadow: 4px 4px 3px #d5d5d5, 7px 7px 3px rgb(0 0 0 / 20%);
    /*letter-spacing: 0.5rem;*/
}
.explore__items:hover{
    padding: 0!important;
}
.explore__items-text h6{
    font-size: 18px;
}
/*-------- end explore --------*/

/*-------- accordion ---------*/
.accordion .card .card-header{
    position: relative;
    display: block;
    background-color: #fff;
    border: none;
}
.accordion .card .card-header .fa-solid{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 30px;
}
/*-------- end accordion -------*/
@media only screen and (max-width: 768px){
    /*============= ABOUT ============*/
    .explore__items::after{
        left: 100px;
    }
}
/*----------------------------*/
/*####### END ABOUT US  #######*/

/*============= Blog ===========*/
.post__list li:not(:first-child):before{
    content: "-";
    position: relative;
    right: 8px;
    color: #666;
}
.blog__link--detail:hover{
    margin-left: 15px;
    font-size: 18px;
}
.blog__icon--fz{
    font-size: 10px;
}
.link__hover:hover{
    color: #1d2124;
}
.pagination__hover li:hover{
    margin-left: 10px;
}
.detail__content--textBorder{
    font-size: 20px;
    border-left: 4px solid #2d3786;
}
/*=========== End Blog =========*/
